{% include "header.html" %}

<h1>Modifier un film</h1>

<p><a href="/users">Retour à la liste des candidats</a></p>

<h2>Film N°{{ model.id }}</h2>

{% for error in errors %}
    <p class="danger">{{ error.param }} : {{ error.msg }}</p>
{% endfor %}

<form action="" method="post">
    <!-- <input type="hidden" name="csrf" value="{{ model.csrf }}"> -->
    <input type="hidden" name="id" value="{{ model.id }}">
    <div>
        <label for="title">Titre :</label> <input type="text" id="title" name="title" value="{{ model.title }}">
    </div>
    <div>
        <label for="year">Année :</label> <input type="text" id="password" name="year" value="{{ model.year }}">
    </div>
    <div>
        <label for="language">Email :</label> <input type="text" id="language" name="language" value="{{ model.language }}">
    </div>
    <div>
        <label for="format">Format :</label> <input type="text" id="format" name="format" value="{{ model.format }}">
    </div>
    <div>
        <label for="urlFile">URL File :</label> <input type="text" id="urlFile" name="urlFile" value="{{ model.urlFile }}">
    </div>
    <div>
        <button type="submit">Enregistrer les modifications</button>
    </div>
</form>

<p><a href="/users/{{ model.id }}">Retour à la fiche film</a> | <a href="/users/delete/{{ model.id }}">Supprimer ce film</a></p>

{% include "footer.html" %}
