{% include "header.html" %}

<h1>Supprimer un film</h1>
<p><a href="/movies">Retour à la liste des films</a></p>

<ul>
    <li>Titre : {{ model.title }}</li>
    <li>Année : {{ model.year }}</li>
    <li>Langue : {{ model.language }}</li>
    <li>Format : {{ model.format }}</li>
    <li>URL File : {{ model.urlFile }}</li>
</ul>

<h2>Supprimer le film</h2>

<form method="post">
    <!-- <input type="hidden" name="csrf" value="{{ model.csrf }}"> -->
    <button type="submit">Oui</button>
    <a href="/movies" class="btn danger">Non</a>
</form>

{% include "footer.html" %}