{% include "header.html" %}

<h1>{{ title }}</h1><!-- <h1>Information sur le candidat {{ model.}}</h1> -->

<p><a href="/movies">Retour a la liste des films</a></p>

<h2>Film n°{{ model.id }}</h2>

<ul>
    <!-- <input type="hidden" name="csrf" value="{{ model.csrf }}"> -->
    <li>Titre : {{ model.title }}</li>
    <li>Année : {{ model.year }}</li>
    <li>Langue : {{ model.language }}</li>
    <li>Format : {{ model.format }}</li>
    <li>URL File : {{ model.urlFile }}</li>
</ul>

<p>
    <a href="/movies/edit/{{ model.id }}">Modifier ce film</a> | <a href="/movies/delete/{{ model.id }}">Supprimer ce film</a>
</p>

{% include "footer.html" %}