{% include "header.html" %}

<h1>{{ title }}</h1><!-- <h1>Information sur le candidat {{ model.}}</h1> -->

<p><a href="/users">Retour a la liste de utilisateur</a></p>

<h2>Utilisateur n°{{ model.id }}</h2>

<ul>
    <!-- <input type="hidden" name="csrf" value="{{ model.csrf }}"> -->
    <li>{{ model.email }} {{ model.password }}</li>
</ul>

<p>
    <a href="/users/edit/{{ model.id }}">Modifier ce candidat</a> | <a href="/users/delete/{{ model.id }}">Supprimer ce candidat</a>
</p>

{% include "footer.html" %}