{% include "header.html" %}

<h1>Ajouter un candidat</h1>
<p><a href="/users">Retour à la liste des utilisateurs</a></p>

{% for error in errors %}
    <p class="danger">{{ error.param }} : {{ error.msg }}</p>
{% endfor %}

<form action="" method="post">
    <!-- <input type="hidden" name="csrf" value="{{ model.csrf }}"> -->
    <div>
        <label for="email">Email :</label> <input type="email" id="email" name="email" required>
    </div>
    <div>
        <label for="password">Mot de passe :</label> <input type="text" id="password" name="password" required>
    </div>
    <div>
        <button type="submit">Enregistrement de l'utilisateur</button>
    </div>
</form>

{% include "footer.html" %}

<!-- pattern="^[a-zA-Z- ]{3,}$"
pattern="^[a-zA-Z- ]{3,}$"
pattern="^[A-z- ]{3,}$" -->