{% include "header.html" %}

<h1>Modifier un candidat</h1>

<p><a href="/candidates">Retour à la liste des candidats</a></p>

<h2>Candidat N°{{ model.id }}</h2>

<form action="" method="post">
    <input type="hidden" name="id" value="{{ model.id }}">
    <div>
        <label for="lastname">Nom :</label> <input type="text" id="lastname" name="lastname" value="{{ model.lastname }}" pattern="^[a-zA-Z- ]{3,}$">
    </div>
    <div>
        <label for="firstname">Prénom :</label> <input type="text" id="firstname" name="firstname" value="{{ model.firstname }}" pattern="^[a-zA-Z- ]{3,}$">
    </div>
    <div>
        <label for="slogan">Slogan :</label> <input type="text" id="slogan" name="slogan" value="{{ model.slogan }}" pattern="^[A-z- ]{3,}$">
    </div>
    <div>
        <button type="submit">Enregistrer les modifications</button>
    </div>
</form>

<p><a href="/candidates/{{ model.id }}">Retour à la fiche candidat</a> | <a href="/candidates/delete/{{ model.id }}">Supprimer ce candidat</a></p>

{% include "footer.html" %}