{% include "header.html" %}

<h1>Ajouter un candidat</h1>
<p><a href="/candidates">Retour à la liste des candidats</a></p>

{% for error in errors %}
    <p class="danger">{{ error.param }} : {{ error.msg }}</p>
{% endfor %}

<form action="" method="post">
    <input type="hidden" name="csrf" value="{{ model.csrf }}">
    <div>
        <label for="lastname">Nom :</label> <input type="text" id="lastname" name="lastname" required>
    </div>
    <div>
        <label for="firstname">Prenom :</label> <input type="text" id="firstname" name="firstname" required>
    </div>
    <div>
        <label for="slogan">Slogan :</label> <input type="text" id="slogan" name="slogan">
    </div>
    <div>
        <button type="submit">Enregistrement du candidat</button>
    </div>
</form>

{% include "footer.html" %}

<!-- pattern="^[a-zA-Z- ]{3,}$"
pattern="^[a-zA-Z- ]{3,}$"
pattern="^[A-z- ]{3,}$" -->