{% include "header.html" %}

<!-- titre page -->
<!-- <h1>Information sur le candidat {{ model.}}</h1> -->
<!-- infos candidat -->

{% if model.id == undefined %}
    Problème d'id
{% else %}
    <h2>Le nom du candidat est : {{ model.firstname | append:' ' |append:model.lastname }}</h2>
    <p>Sont slogan est : {{ model.slogan }}</p>
{% endif%}
<!-- <table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Slogan</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ model.id }}</td>
            <td>{{ model.lastname }}</td>
            <td>{{ model.firstname }}</td>
            <td>{{ model.slogan }}</td>
        </tr>
    </tbody>
</table> -->


{% include "footer.html" %}